@model Hive.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // Reveal Login form
        setTimeout(function () { $(".fade-in-effect").addClass('in'); }, 1);

        // Set Form focus
        $("form#lostpassword .form-group:has(.form-control):first .form-control").focus();
    });
</script>
<div class="row">
    <div class="col-sm-6">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login-form fade-in-effect", role = "form", id = "lostpassword" }))
        {
            @Html.AntiForgeryToken()
            <div class="login-header">
                <a href="#" class="logo">
                    <img src="~/Content/hive/images/logo@2x.png" alt="" width="175" />
                    <span>@ViewBag.Title</span>
                </a>
                <p>Enter your email.</p>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-dark" })
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" class="btn btn-dark  btn-block text-left" value="Email Link" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
