@model IEnumerable<Hive.Data.Contract>
@{
    ViewBag.Title = "Contracts";
    ViewBag.Description = "Manage contracts";
}
@section css
{
    <link href="~/Scripts/datatables/dataTables.bootstrap.css" rel="stylesheet" />
}
@section scripts
{

    <script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
    <script src="~/Scripts/datatables/tabletools/dataTables.tableTools.min.js"></script>
}
<p>
    @Html.ActionLink("New Contract", "Create", "", new { @class = "btn btn-primary btn-icon" })
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Contracts</h3>

        <div class="panel-options">
            <a href=" ">
                <span class="expand-icon">+</span>
            </a>
        </div>
    </div>
    <div class="panel-body">

        <script type="text/javascript">
					jQuery(document).ready(function($)
					{
						$("#contracts-1").dataTable({
							aLengthMenu: [
								[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
							]
						});
					});
        </script>

        <table id="contracts-1" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Account.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Start)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.End)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContractBillingType)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Account.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Start)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.End)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContractBillingType)
                    </th>
                    <th>

                    </th>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.Account.CompanyName)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Start)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.End)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContractBillingType)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm btn-icon icon-left" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm btn-icon icon-left" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm btn-icon icon-left" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
