@model Hive.Models.RoleViewModel

@{
    ViewBag.Title = "New Role";
    ViewBag.Description = "Create new system role";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Role details</h3>
        <div class="panel-options">
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <span>
                            @Html.ActionLink("Cancel", "Index", "", new { @class = "btn btn-danger" })
                        </span>
                    </div>

                </div>
            </div>
        }
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
