@model IEnumerable<Hive.Data.Service>
@{
	ViewBag.Title = "Services";
	ViewBag.Description = "Manage services";
}
@section scripts
{
	<script src="~/Scripts/rwd-table/js/rwd-table.min.js"></script>

}
<!-- Responsive Table -->
<div class="row">
	<div class="col-md-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Active Services</h3>

				<div class="panel-options">
					<a href="#">
						<i class="linecons-cog"></i>
					</a>

					<a href="#" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>

					<a href="#" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>

					<a href="#" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			<div class="panel-body">

				<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">

					<table cellspacing="0" class="table table-small-font table-bordered table-striped">
						<thead>
							<tr>
								<th>@Html.DisplayNameFor(model => model.Name)</th>
								<th data-priority="1">@Html.DisplayNameFor(model => model.Description)</th>
								<th data-priority="3">@Html.DisplayNameFor(model => model.ServiceCategory.Category)</th>
								<th data-priority="1">@Html.DisplayNameFor(model => model.Price)</th>
								<th data-priority="3">@Html.DisplayNameFor(model => model.PriceNote)</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.Name)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Description)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.ServiceCategory.Category)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Price)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.PriceNote)
									</td>
								</tr>
							}
						</tbody>
					</table>

				</div>

				<script type="text/javascript">
							// This JavaScript Will Replace Checkboxes in dropdown toggles
							jQuery(document).ready(function($)
							{
								setTimeout(function()
								{
									$(".checkbox-row input").addClass('cbr');
									cbr_replace();
								}, 0);
							});
				</script>


			</div>

		</div>
	</div>
</div>
