@using Microsoft.AspNet.Identity
@using Hive.Models
    @if (Request.IsAuthenticated)
    {
            var manager = new UserManager<ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ApplicationUser>(new ApplicationDbContext()));
            var currentUser = manager.FindById(User.Identity.GetUserId());

        
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="~/Content/hive/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
                <span>
                    @currentUser.FullName
                    <i class="fa-angle-down"></i>
                </span>
            </a>
    <ul class="dropdown-menu user-profile-menu list-unstyled">
        <li>
            <a href="@Url.Action("Index","Manage")">
                <i class="fa-wrench">
                    Settings
                </i>
            </a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li>
                @Html.ActionLink("Roles Admin", "Index", "RolesAdmin")
            </li>
            <li>
                @Html.ActionLink("Users Admin", "Index", "UsersAdmin")
            </li>
        }
        <li>
            <a href="#profile">
                <i class="fa-user"></i>
                Profile
            </a>
        </li>
        <li>
            <a href="#help">
                <i class="fa-info"></i>
                Help
            </a>
        </li>
        <li class="last">
            <a href="javascript:document.getElementById('logoutForm').submit()">
                <i class="fa-lock"></i>
                Logout
            </a>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
            }
        </li>
    </ul>
    }
    else
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/Content/hive/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
            <span>
                Login
                <i class="fa-angle-down"></i>
            </span>
        </a>
    <ul class="dropdown-menu user-profile-menu list-unstyled">
        <li>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
        <li>
            <a href="#help">
                <i class="fa-info"></i>
                Help
            </a>
        </li>
        <li class="last">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
    }
